/* fira sans font import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: #F1F1F3;
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }

  /* navigation bar styles */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
  }
  .title{
    color: #0E0E0E;
  }
  .button1{
    color: #006A50;
    padding: 15px 30px;
    border-color: #006A50;
    border-radius: 8px;
    background-color: transparent;
    font-size: 18px;
    
  }

  /* banner styles */
  .banner-title{
    color: #0E0E0E;
    opacity: 50%;
    background-color: #C6E4D6;
  }
  .banner-text{
    color: #0E0E0E;
    font-size: 56px;
    background-color: #C6E4D6;
  }
  .button2{
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #006A50;
  }
  #banner{
    padding: 80px;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;
    background-color: #C6E4D6;
    display: flex;
    align-items: center;   
  }
  .banner-content{
    display: flex;
    flex-direction: column;
    margin: 117px 64px 117px 59.99px;
    background-color: #C6E4D6;
  }
  .banner-image{
    margin: 80px 59.9px 80px 64px;
    background-color: #C6E4D6;
  }
/* pillars of bangladesh 2.0 section styles */
#pillars{
    margin: 0px 160px 80px 160px;
    
}

.pillars-title{
    color: #0E0E0E;
    font-size: 40px;
}
.cards{
    display: flex;
    text-align: start;
    justify-content: space-between;
    gap: 32px;
   
}
.card1{
    
    padding: 24px 24px;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.pillars-card-title{
    background-color: #FFFFFF;
    color: #0E0E0E ;
    opacity: 80%;
    font-size: 20px;
}
.pillars-card-text{
    background-color: #FFFFFF;
    color: #0E0E0E ;
    opacity: 70%;
    font-size: 16px;

}
.card-image{
    background-color: #FFFFFF;
}
